.checkbox-field {
	position: relative;
	margin-top: 6px;
	margin-bottom: 6px;
	font-weight: 400;
	user-select: none;
	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		pointer-events: none;
		padding: 0;
		&:checked ~ span {
			&::before {
				top: -4px;
				left: -5px;
				width: 12px;
				height: 22px;
				border-top: 2px solid transparent;
				border-left: 2px solid transparent;
				border-right: 2px solid $secondary-color;
				border-bottom: 2px solid $secondary-color;
				transform: rotate(40deg);
				transform-origin: 100% 100%;
			}
			&::after {
				background-color: $secondary-color;
			}
		}
		&:indeterminate ~ span::before {
			top: -11px;
			left: -12px;
			width: 10px;
			height: 22px;
			border-top: none;
			border-left: none;
			border-right: 2px solid $secondary-color;
			border-bottom: none;
			transform: rotate(90deg);
			backface-visibility: hidden;
			transform-origin: 100% 100%;
		}
		&:not(:disabled) {
			&:hover ~ span {
				&::after {
					opacity: 0.18;
				}
			}
			&:focus ~ span, &:active ~ span {
				&::after {
					opacity: 0.24;
				}
			}
		}
	}
	input[type="checkbox"]:disabled {
		& + span {
			color: $disabled-color;
			&::before {
				border: 2px solid $disabled-color;
			}
		}
	}
	span {
		position: relative;
		padding-left: 35px;
		display: inline-block;
		height: 25px;
		font-size: 1rem;
		color: $input-label-color;
		line-height: 26px;
		&::before, &::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			margin: 4px;
		}
		&::before {
			width: 18px;
			height: 18px;
			border-radius: 1px;
			border: 2px solid $input-border-color;

			transition: 0.2s ease;
		}
		&::after {
			width: 36px;
			height: 36px;
			border-radius: 50%;
			opacity: 0;
			background-color: color("grey", "lighten-1");
			transform: translate(-25%, -25%);
			transition: 0.2s;
		}
	}
}
