.switch {
    display: inline-flex;
    user-select: none;
    input[type="checkbox"] {
        display: none;
    }
    .lever {
        top: 2px;
        width: 34px;
        height: 14px;
        background-color: color("grey", "base");
        border-radius: 8px;
        display: inline-block;
        position: relative;
		margin: 0 12px;
		transition: background-color .2s ease;
        &::after, &::before {
            content: "";
            position: absolute;
            margin: 0;
            outline: 0;
			top: 50%;
			transition: all 0.2s ease;
		}
		&::before {
			left: 0;
			width: 42px;
			height: 42px;
			background-color: color("grey", "base");
			border-radius: 50%;
			opacity: 0;
			transform: translate(-25%, -50%);
		}
        &::after {
            left: 0;
            width: 20px;
			height: 20px;
			background-color: color("grey", "lighten-5");
			transform: translate(0, -50%);
            border-radius: 50%;
            @extend .z-depth-1;
        }
	}
	.lever:hover {
		&::before {
			opacity: .24;
		}
    }
    input[type="checkbox"]:disabled ~ .lever {
        background-color: color("grey", "lighten-2");
        &::after {
            background-color: color("grey", "base");
        }
    }
    input[type="checkbox"]:checked ~ .lever {
        background-color: lighten($secondary-color, 25%);
        &::after {
            background-color: $secondary-color;
            transform: translate(80%, -50%);
		}
		&::before {
			background-color: $secondary-color;
			transform: translate(10%, -50%);
		}
    }
}
