{
    "parser": "babel-eslint",
    "extends": ["prettier"],
    "root": true,
    "parserOptions": {
        "echmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "semi": "error",
        "quotes": ["error", "double"],
        "no-console": "warn",
        "no-alert": "error",
        "no-var": "warn",
        "no-extra-semi": "warn",
        "no-unused-vars": "warn",
        "no-new-object": "warn",
        "no-undef": "error",
        "no-unsafe-negation": "error",
        "no-cond-assign": "error"
    },
    "env": {
        "browser": true,
        "es6": true
    }
}