.collapsible {
	margin: $collapsible-margin;
	padding-left: 0px;
	padding-right: 0px;
	list-style: none;
	li {box-shadow: $z-depth-1;}
	li.active {
		box-shadow: $z-depth-1-half;
	}
	.collapsible-header {
		&:hover {
			outline: 0;
			background-color: $collapsible-header-hover-bg-color;
		}
		display: flex;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		line-height: 1.5;
		padding: $collapsible-header-padding;
		background-color: $collapsible-header-bg-color;
		color: $collapsible-color;
		transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
		font-size: 1rem;
		.badge {
			margin-left: auto;
		}
		i {
			width: 2rem;
			font-size: $collection-item-icon-size;
			display: inline-block;
			text-align: center;
			margin-right: 1rem;
			color: $collection-icon-color;
		}
	}
	.collapsible-body {
		display: none;
		border-bottom: 1px solid $collapsible-border-color;
		box-sizing: border-box;
		padding: $collapsible-body-padding;
	}
	&.popout {
		border: none;
		box-shadow: none;
		> li {
			@extend .z-depth-1;
			// transform: scaleX(.92);
			margin: 0 24px;
			transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		}
		> li.active {
			@extend .z-depth-2;
			margin: 16px 0;// transform: scaleX(1);
		}
	}
}
