*, ::after, ::before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: $link-color;
	text-decoration: none;
}

// Images
img.circle {
	border-radius: 50%;
	max-width: 100%;
	height: auto;
}

img.rounded {
	border-radius: 0.25rem;
}

img.thumbnail {
	padding: 0.25rem;
	border: 1px solid #DDDDDD;
	background-color: #FFFFFF;
	border-radius: 0.25rem;
}

.responsive-img {
	max-width: 100%;
	height: auto;
}

.responsive-video {
	width: 100%;
	height: auto;
}

// Progress bar
@keyframes indeterminateLong {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}

@keyframes indeterminateShort {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}

.progress-bar {
	height: 4px;
	width: 100%;
	position: relative;
	transition: 0.25s cubic-bezier(0.4, 0, 0.6, 1) 0ms;
	background-color: rgba($secondary-color, 0.25);
	overflow: hidden;
	.determinate {
		position: absolute;
		height: 100%;
		background-color: $secondary-color;
	}
	.indeterminate {
		background-color: $secondary-color;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			will-change: left, right;
			background-color: inherit;
			animation: indeterminateLong 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			will-change: left, right;
			background-color: inherit;
			animation: indeterminateShort 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
			animation-delay: 1.15s;
		}
	}
}

// Shadows
.z-depth-0 {
	box-shadow: none !important;
}

.z-depth-1 {
	box-shadow: $z-depth-1;
}
.z-depth-1-half {
	box-shadow: $z-depth-1-half;
}
.z-depth-2 {
	box-shadow: $z-depth-2;
}
.z-depth-3 {
	box-shadow: $z-depth-3;
}
.z-depth-4 {
	box-shadow: $z-depth-4;
}
.z-depth-5 {
	box-shadow: $z-depth-5;
}

.hoverable {
	transition: box-shadow 0.4s;
	&:hover {
		@extend .z-depth-2;
	}
}

// Parallax
.parallax-container {
	overflow: hidden;
	position: relative;
	height: 700px;
	.parallax {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		img {
			position: absolute;
			z-index: -2;
			left: 50%;
			bottom: 0;
			min-height: 100%;
			min-width: 100%;
			user-select: none;
		}
	}
}

// Chips
.chip {
	margin: 4px;
	font-size: 0.875rem;
	line-height: 32px;
	background-color: #E0E0E0;
	border-radius: 16px;
	height: 32px;
	padding: 0 12px;
	margin-right: 12px;
	overflow: hidden;
	display: inline-block;
	align-items: center;
	color: rgba(0, 0, 0, 0.87);
	&.medium {
		padding: 0 18px;
		height: 42px;
		line-height: 42px;
		border-radius: 21px;
		& > img {
			height: 42px;
			width: 42px;
			margin: 0 12px 0 -18px;
		}
	}
	&.large {
		padding: 0 24px;
		height: 52px;
		line-height: 52px;
		border-radius: 26px;
		& > img {
			height: 52px;
			width: 52px;
			margin: 0 14px 0 -24px;
		}
	}
	i {
		padding-left: 8px;
		vertical-align: middle;
		font-size: 1.1rem;
	}
	& > img {
		float: left;
		margin: 0 8px 0 -12px;
		height: 32px;
		width: 32px;
		border-radius: 50%;
	}
	.close {
		cursor: pointer;
		color: color("grey", "darken-2");
		transition: .4s;
		&:hover {
			color: color("grey", "darken-3");
		}
	}
}

// Tooltip
.empyreal-tooltip {
	background-color: $tooltip-bg-color;
	padding: $tooltip-padding;
	position: absolute;
	color: #FFFFFF;
	z-index: $z-index-tooltip;
	font-size: $tooltip-font-size;
	opacity: 0;
	transition: opacity 0.4s, transform 0.3s ease-out;
	border-radius: $tooltip-border-radius;
	&.active {
		opacity: 1;
	}
}

// Pagination
.pagination {
	padding-left: 0;
	li {
		display: inline-block;
		border-radius: $pagination-item-border-radius;
		text-align: center;
		vertical-align: top;
		height: $pagination-item-height;
		a {
			color: $pagination-item-color;
			display: inline-block;
			font-size: $pagination-item-font-size;
			padding: 0 $pagination-item-padding-x;
			line-height: $pagination-item-height;
			text-decoration: none;
		}
		&.active {
			background-color: $pagination-item-active-bg-color;
			@extend .z-depth-1;
			a {
				color: $pagination-item-active-color;
			}
		}
		&.disabled a {
			cursor: default;
			color: $disabled-color;
		}
		i {
			font-size: 2rem;
		}
	}
	li.pages ul li {
		display: inline-block;
		float: none;
	}
}
@media #{$medium-and-down} {
	.pagination {
		width: 100%;
		li.prev, li.next {
			width: 10%;
		}

		li.pages {
			width: 80%;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}

// Snackbar
.snackbar {
	padding: $snackbar-padding;
	color: $snackbar-color;
	background-color: $snackbar-bg-color;
	display: inline-block;
	position: fixed;
	top: -100px;
	right: 40px;
	opacity: 0;
	transition: all 0.4s ease-out;
	border-radius: $snackbar-border-radius;
	font-weight: $snackbar-font-weight;
	@extend .z-depth-3;
	z-index: $z-index-snackbar;
}

// Collections
.collection {
	padding: 8px 0;
	line-height: $collection-line-height;
	margin: 0;
	color: $collection-color;
	border: 1px solid rgba(0, 0, 0, 0.1);
	list-style: none;
	.collection-item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: $collection-item-height;
		font-size: $collection-item-font-size;
		flex-grow: 1;
		list-style: none;
		padding: $collection-item-padding;
		letter-spacing: 0.01rem;
		font-weight: 400;
		transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		border-bottom: 1px color("grey", "lighten-2") solid;
		text-decoration: none;
		.badge {
			margin-left: auto;
		}
		&.active {
			background-color: $primary-color;
			color: #FFFFFF;
			cursor: default;
		}
		&:last-child {
			border-bottom: 0px transparent solid;
		}
		&:hover:not(.active) {
			background: $collection-hover-color;
		}
		i {
			color: $collection-icon-color;
			margin-right: 32px;
			font-size: $collection-item-icon-size;
		}
	}
	a.collection-item {
		color: $link-color;
		cursor: pointer;
	}
}

// Badge
.badge {
	font-weight: 700;
	padding: 0.25em 0.4em;
	font-size: 75%;
	@extend .z-depth-1;
	display: inline-block;
	line-height: 1;
	text-align: center;
	border-radius: 1px;
	white-space: nowrap;
	vertical-align: middle;
	&.large {
		padding: 0.35em 0.5em;
		font-size: 90%;
	}
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: 0px transparent solid;
	border: 0px transparent solid;
}
