.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 95%;
	@media #{$medium-and-up} {
		width: 90%;
	}
	@media #{$large-and-up} {
		width: 80%;
	}
}

.divider {
	height: 1px;
	overflow: hidden;
	background-color: color("grey", "lighten-2");
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-start;
	padding-left: $row-border-padding;
	padding-right: $row-border-padding;
	&.no-pad {
		padding-left: 0;
		padding-right: 0;
		.col {
			padding: 0;
		}
	}
}

.col {
	flex-basis: 100%;
	padding: 0 $gutter-width;
	@for $i from 1 through $num-cols {
		&.s#{$i} {
			flex-basis: (100%/$num-cols)*$i;
			width: (100%/$num-cols)*$i;
		}
		&.offset-s#{$i} {
			margin-left: (100%/$num-cols)*$i;
		}
	}
	@media #{$medium-and-up} {
		@for $i from 1 through $num-cols {
			&.m#{$i} {
				flex-basis: (100%/$num-cols)*$i;
				width: (100%/$num-cols)*$i;
			}
			&.offset-m#{$i} {
				margin-left: (100%/$num-cols)*$i;
			}
		}
	}
	@media #{$large-and-up} {
		@for $i from 1 through $num-cols {
			&.l#{$i} {
				flex-basis: (100%/$num-cols)*$i;
				width: (100%/$num-cols)*$i;
			}
			&.offset-l#{$i} {
				margin-left: (100%/$num-cols)*$i;
			}
		}
	}
	@media #{$extra-large-and-up} {
		@for $i from 1 through $num-cols {
			&.xl#{$i} {
				flex-basis: (100%/$num-cols)*$i;
				width: (100%/$num-cols)*$i;
			}
			&.offset-xl#{$i} {
				margin-left: (100%/$num-cols)*$i;
			}
		}
	}
}