.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	z-index: $z-index-modal - 1;
}

%notCenter {
	margin: 0 !important;
	position: absolute;
}

.modal-dialog {
	background-color: $modal-bg-color;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: $modal-med-max-width;
	max-height: 70%;
	@extend .z-depth-2;
	border-radius: $modal-border-radius;
	z-index: $z-index-modal;
	&.modal-sheet {
		max-width: unset;
		max-height: unset;
		@extend %notCenter;
	}
	&.modal-top-sheet {
		width: 100%;
		top: 0;
		left: 0;
	}
	&.modal-left-sheet {
		height: 100%;
		max-width: 40%;
		left: 0;
		top: 0;
	}
	&.modal-right-sheet {
		height: 100%;
		max-width: 40%;
		top: 0;
		right: 0;
	}
	&.modal-bottom-sheet {
		width: 100%;
		bottom: 0;
		left: 0;
	}

	&.modal-side {
		@extend %notCenter;
	}
	&.modal-top-left {
		top: $modal-not-center-offset;
		left: $modal-not-center-offset;
        
	}
	&.modal-top-right {
		top: $modal-not-center-offset;
		right: $modal-not-center-offset;
	}
	&.modal-bottom-left {
		bottom: $modal-not-center-offset;
		left: $modal-not-center-offset;
	}
	&.modal-bottom-right {
		bottom: $modal-not-center-offset;
		right: $modal-not-center-offset;
	}

	&.small {
		max-width: $modal-small-max-width;
	}
	&.medium {
		max-width: $modal-med-max-width;
	}
	&.large {
		max-width: $modal-large-max-width;
	}
	&.responsive {
		max-width: $modal-responsive-max-width;
	}
	.modal-content {
		padding: $modal-padding;
		line-height: $modal-line-height;
		color: $modal-color;
	}
	.modal-footer {
		padding: 8px 12px;
		width: 100%;
		text-align: right;
	}
}
