.sidenav {
	height: 100%;
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	overflow-y: auto;
	display: none;
	z-index: $z-index-sidenav;
	.user-view {
		padding: $sidenav-user-view-padding;
		margin-bottom: 8px;
		background-size: cover;
		background-repeat: no-repeat;
		img {
			width: $sidenav-user-image-size;
			height: $sidenav-user-image-size;
			margin-top: 6px;
			margin-bottom: 12px;
		}
		span {
			display: block;
			margin-top: 6px;
			margin-bottom: 6px;
			font-size: 1rem;
			font-weight: 300;
		}
	}
	.nav-items {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		.nav-item {
			line-height: $collection-line-height;
			padding: 0 16px;
			height: $collection-item-height;
			font-size: $collection-item-font-size;
			vertical-align: middle;
			display: flex;
			align-items: center;
			transition: 0.2s;
			&:hover {
				cursor: pointer;
				background: $collection-hover-color;
			}
			a {
				color: $collection-color;
				text-decoration: none;
				i {
					color: $collection-icon-color;
					margin-right: 28px;
					font-size: $collection-item-icon-size;
					vertical-align: middle;
				}
			}
		}
	}
}

.sidenav-overlay {
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: $z-index-sidenav - 1;
	display: none;
}
