// Colors
// --------------------------------------------------------
$primary-color: color("deep-purple", "accent-3") !default;
$secondary-color: color("blue", "base") !default;
$link-color: color("light-blue", "accent-3") !default;
$disabled-color: rgba(0, 0, 0, 0.3) !default;
$surface-background: #FFFFFF;
$surface-foreground: #000000;
:root {
	--primary-color: $primary-color;
	--secondary-color: $secondary-color;
}

// Global
// --------------------------------------------------------
$spacer-x: 2px !default;
$spacer-y: 2px !default;

// Navbar
// --------------------------------------------------------
$navbar-bg-color: $primary-color !default;
$navbar-color: #FFFFFF !default;
$navbar-padding: 0.5rem 1rem !default;
$navbar-brand-font-size: 1.25rem !default;
$navbar-brand-margin: 2rem !default;
$navbar-brand-padding: 0.3125rem !default;
$navbar-line-height: 2.5 !default;
$navbar-item-padding: 0.75rem !default;

// Cards
// --------------------------------------------------------
$card-body-padding: 1.5rem 1.25rem !default;
$card-border-radius: 0.25rem !default;
$card-cascade-margin: 4% !default;
$card-banner-height: 120px !default;
$card-bg-color: #FFFFFF !default;
$card-avatar-width: 120px !default;
$card-panel-padding: 24px !default;

//Buttons
// --------------------------------------------------------
$button-padding: 0.78rem 2rem !default;
$button-border-radius: 0.125rem !default;
$button-font-size: 0.81rem !default;
$button-margin: 0.375rem !default;

$button-icon-size: 1rem !default;
$button-icon-margin: 0.75rem !default;

$button-large-padding: 1rem 2.4rem !default;
$button-large-font-size: 0.94rem !default;
$button-large-icon-size: 1.25rem !default;

$button-small-padding: 0.5rem 1.6rem !default;
$button-small-font-size: 0.64rem !default;
$button-small-icon-size: 0.9rem !default;

$button-fab-size: 3.6rem !default;
$button-fab-icon-size: 1.3rem !default;
$button-fab-large-size: 4.4rem !default;
$button-fab-large-icon-size: 1.6rem !default;
$button-fab-small-size: 3rem !default;
$button-fab-small-icon-size: 1rem !default;

// Z Index
// ---------------------------------------------------------------------
$z-index-lightbox: 2000 !default;
$z-index-snackbar: 1500 !default;
$z-index-modal: 1000 !default;
$z-index-sidenav: 100 !default;
$z-index-dropdown: 50 !default;
$z-index-navbar: 25 !default;
$z-index-carousel: 5 !default;
$z-index-tooltip: 3 !default;

// Dropdown
// ---------------------------------------------------------------------
$dropdown-radius: 0.25rem !default;
$dropdown-min-width: 11rem !default;
$dropdown-item-padding: 1rem !default;
$dropdown-item-color: rgba(0, 0, 0, 0.87) !default;
$dropdown-item-hover-bg-color: rgba(0, 0, 0, 0.05) !default;
$dropdown-item-focus-bg-color: rgba(0, 0, 0, 0.12) !default;
$dropdown-item-font-size: 0.95rem !default;
$dropdown-item-icon-font-size: 1.4rem !default;

// Tables
// ---------------------------------------------------------------------
$table-border-color: rgba(0, 0, 0, 0.12) !default;
$table-striped-color: rgba(242, 242, 242, 0.5) !default;

// Tooltips
// ---------------------------------------------------------------------
$tooltip-bg-color: color("grey", "darken-4") !default;
$tooltip-padding: 10px 8px !default;
$tooltip-font-size: 14px !default;
$tooltip-border-radius: 2px !default;

// Pagination
// ---------------------------------------------------------------------
$pagination-item-height: 30px !default;
$pagination-item-border-radius: 2px !default;
$pagination-item-color: #444444 !default;
$pagination-item-font-size: 1.2rem !default;
$pagination-item-padding-x: 12px !default;
$pagination-item-active-bg-color: $primary-color !default;
$pagination-item-active-color: #FFFFFF !default;

// Snackbar
// ---------------------------------------------------------------------
$snackbar-padding: 16px 24px !default;
$snackbar-bg-color: rgba(0, 0, 0, 0.8) !default;
$snackbar-color: #FFFFFF !default;
$snackbar-border-radius: 2px !default;
$snackbar-font-weight: 300 !default;

// Collections
// ---------------------------------------------------------------------
$collection-color: rgba(0, 0, 0, 0.87) !default;
$collection-line-height: 1.5rem !default;
$collection-icon-color: rgba(0, 0, 0, 0.87) !default;
$collection-item-hover-bg-color: rgba(0, 0, 0, 0.075) !default;
$collection-item-height: 48px !default;
$collection-item-padding: 0 16px !default;
$collection-item-font-size: 1rem !default;
$collection-item-icon-size: 1.6rem !default;

// Collapsible
// ---------------------------------------------------------------------
$collapsible-border-color: color("grey", "lighten-2") !default;
$collapsible-color: rgba(0, 0, 0, 0.85) !default;
$collapsible-header-bg-color: #FFFFFF !default;
$collapsible-header-hover-bg-color: rgba(0, 0, 0, 0.075) !default;
$collapsible-padding: 1rem !default;
$collapsible-body-padding: 1.2rem 1.4rem !default;
$collapsible-margin: 0.5rem 0 1rem 0 !default;

// Tabs
// ---------------------------------------------------------------------
$tab-font-size: 0.9rem !default;
$tab-color: rgba(0, 0, 0, 0.75) !default;
$tab-line-height: 2.25rem !default;
$tab-icon-size: 1.25rem !default;
$tab-fixed-icon-size: 1.5rem !default;
$tab-hover-color: rgba(0, 0, 0, 0.08) !default;
$tab-focus-color: rgba(0, 0, 0, 0.15) !default;

// Modals
// ---------------------------------------------------------------------
$modal-padding: 16px 24px !default;
$modal-border-radius: 2px !default;
$modal-color: rgba(0, 0, 0, 0.87) !default;
$modal-line-height: 1.6 !default;
$modal-not-center-offset: 10px !default;
$modal-med-max-width: 500px !default;
$modal-small-max-width: 300px !default;
$modal-large-max-width: 800px !default;
$modal-responsive-max-width: 75% !default;
$modal-bg-color: #FFFFFF !default;

// Lightbox
// ---------------------------------------------------------------------
$lightbox-bg-color: #000000 !default;
$lightbox-controls-bg-color: rgba(0, 0, 0, 0.3) !default;
$lightbox-counter-font-size: 14px !default;

// Sidenav
// ---------------------------------------------------------------------
$sidenav-user-image-size: 64px !default;
$sidenav-user-view-padding: 32px 32px 16px !default;

// Shadow
// ---------------------------------------------------------------------
$z-depth-1: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !default;
$z-depth-1-half: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !default;
$z-depth-2: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !default;
$z-depth-3: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !default;
$z-depth-4: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !default;
$z-depth-5: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !default;

// Media Query Ranges
// ---------------------------------------------------------------------
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// Grid
// ---------------------------------------------------------------------
$num-cols: 12 !default;
$gutter-width: 0.75rem !default;
$row-border-padding: 0.5rem !default;

// Typography
// ---------------------------------------------------------------------
$font-size-base: 1.25rem !default;
$font-size-base-large: $font-size-base * 1.25 !default;
$font-size-base-small: $font-size-base * 0.875 !default;
$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base * 1 !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;
$lead-text-font-size: $font-size-base * 1.25 !default;
$font-stack: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif !default;
$range: $large-screen - $small-screen !default;
$responsive-intervals: 20 !default;
$responsive-interval-size: $range / $responsive-intervals !default;

// Forms
// ========================================================

// Inputs
// ---------------------------------------------------------------------
$input-names: "input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea" !default;
$input-padding: 20px 0px 6px !default;
$input-line-height: 1.75rem !default;
$input-focus-color: $secondary-color !default;
$input-label-color: rgba(0, 0, 0, 0.6) !default;
$input-color: rgba(0, 0, 0, 0.87) !default;
$input-font-size: 1rem !default;
$label-font-size: 1rem !default;
$input-border-color: rgba(0, 0, 0, 0.42) !default;
$input-border: 1px solid $input-border-color !default;
$input-hover-border-color: rgba(0, 0, 0, 0.87) !default;
$input-filled-padding: 12px 16px 0px !default;
$input-filled-bg-color: #F5F5F5 !default;
$input-outline-border-color: rgba(0, 0, 0, 0.24) !default;
$input-outline-padding: 12px 16px 14px !default;

// Slider
// ---------------------------------------------------------------------
$slider-height: 6px !default;
$slider-thumb-size: 20px !default;
$slider-bg-color: #D3D3D3 !default;
$slider-line-color: $secondary-color !default;
$slider-thumb-color: $secondary-color !default;
$slider-tooltip-color: #FFFFFF !default;
$slider-tooltip-bg-color: $secondary-color !default;

// Select
// ---------------------------------------------------------------------
$select-radius: 0.25rem !default;
$select-item-padding: 0.6rem !default;
$select-item-color: rgba(0, 0, 0, 0.87) !default;
$select-item-hover-color: rgba(0, 0, 0, 0.1) !default;
$select-item-font-size: 0.9rem !default;
$select-item-icon-font-size: 1.4rem !default;
