{% extends "./partials/base.html" %}

{% set title = "Animations" %}

{% block content %}
    <div class="scrollspy section" id="introduction" data-name="Introduction">
        <p>
            We use
            <a href="https://michalsnik.github.io/aos/">AOS</a>
            for all the animations. All these animations occur when the element is scrolled into view. There are 45+ animations which are all customizable.
        </p>
        <p>
            All the animations are initialized by default. Just add the
            <code>data-aos</code>
            attribute to add your animations.
        </p>
        <iframe src="https://michalsnik.github.io/aos/" frameborder="0" style="width:100%;height:100vh"></iframe>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="scrollspy section" id="anime" data-name="Anime">
        <h1 class="blue-text">Anime</h1>
        <p>
            We also use
            <a href="https://animejs.com/">anime.js</a>
            for animating our components (like Modals) and you can access it using
            <code>window.anime</code>
            so you do not have to include it manually as to reduce bundle sizes.
        </p>
    </div>
{% endblock content %}