{% extends "./partials/base.html" %}

{% set title = "Autocomplete" %}

{% block content %}
    <div class="section scrollspy" id="introduction" data-name="Introduction">
        <div data-syntax="html">
            <div class="text-field filled">
                <input type="text" id="autocomplete1" class="autocomplete">
                <label for="autocomplete1">Company Name</label>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}
    <script>
        var autocomplete = new empy.Autocomplete("#autocomplete1", {
            data: [
                {
                    value: "Microsoft"
                }, {
                    value: "Apple"
                }, {
                    value: "Yahoo",
                    alias: ["Harshit", "harsh"]
                }, {
                    value: "Google",
                    alias: ["Mudit", "Lol"]
                }
            ]
        });
    </script>
{% endblock script %}