{% extends "./partials/base.html" %}

{% set title = "Buttons" %}

{% block content %}
    <div class="section scrollspy" id="introduction" data-name="Introduction">
        <div data-syntax="html">
            <a href="#!" class="btn waves-effect">Button</a>
            <a href="#!" class="btn waves-effect red accent-3">
                <i class="material-icons left">cloud</i>
                Button
            </a>
            <a href="#!" class="btn waves-effect deep-purple accent-4">
                Button
                <i class="material-icons right">cloud</i>
            </a>
            <button class="btn black white-text waves-effect waves-light">Button</button>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="sizes" data-name="Sizes">
        <h3>Sizes</h3>
        <div data-syntax="html">
            <a href="#!" class="btn btn-small"><i class="material-icons left">cloud</i>Small</a>
            <a href="#!" class="btn"><i class="material-icons left">cloud</i>Medium</a>
            <a href="#!" class="btn btn-large"><i class="material-icons left">cloud</i>Large</a>
            <a href="#!" class="btn btn-block">Block</a>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="flat" data-name="Flat">
        <h3>Flat Buttons</h3>
        <div data-syntax="html">
            <a href="#!" class="btn btn-flat waves-effect">Flat</a>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="fab" data-name="FAB">
        <h3>Floating Action Buttons</h3>
        <div data-syntax="html">
            <a href="#!" class="btn btn-fab waves-effect">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="gradient" data-name="Gradient">
        <h3>Gradient Buttons</h3>
        <div data-syntax="html">
            <a href="#!" class="btn red-grad">Red</a>
            <a href="#!" class="btn blue-grad">Blue</a>
            <a href="#!" class="btn green-grad">Green</a>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="outline" data-name="Outline">
        <h3>Outline Buttons</h3>
        <div data-syntax="html">
            <a href="#!" class="btn waves-effect red-outline">Red</a>
            <a href="#!" class="btn waves-effect blue-outline">Blue</a>
            <a href="#!" class="btn waves-effect green-outline">Green</a>
            <a href="#!" class="btn waves-effect indigo-outline">Indigo</a>
            <a href="#!" class="btn waves-effect purple-outline">Purple</a>
            <a href="#!" class="btn waves-effect teal-outline">Teal</a>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="rounded" data-name="Rounded">
        <h3>Rounded Buttons</h3>
        <a href="#!" class="btn red btn-rounded">Red</a>
        <a href="#!" class="btn blue btn-rounded">Blue</a>
        <a href="#!" class="btn green btn-rounded">Green</a>
        <a href="#!" class="btn indigo btn-rounded">Indigo</a>
        <a href="#!" class="btn purple btn-rounded">Purple</a>
        <a href="#!" class="btn teal btn-rounded">Teal</a>
    </div>
{% endblock content %}

{% block script %}
    <script></script>
{% endblock script %}