{% extends "./partials/base.html" %}

{% set title = "Cards" %}

{% block content %}
    <div class="section scrollspy" id="introduction" data-name="Introduction">
        <div data-syntax="html">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Card Title</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus 
                                veritatis ex totam rem illum repellendus, ratione molestiae dolorum fugiat 
                                dolores.
                            </p>
                        </div>
                        <a href="#!" class="btn btn-flat waves-effect">Button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="images" data-name="Images">
        <div data-syntax="html">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://picsum.photos/400/300" alt="Card Image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Card Title</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus 
                                veritatis ex totam rem illum repellendus, ratione molestiae dolorum fugiat 
                                dolores.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://picsum.photos/400/300" alt="Card Image">
                            <h3 class="card-title">Card Title</h3>
                        </div>
                        <div class="card-body">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus 
                                veritatis ex totam rem illum repellendus, ratione molestiae dolorum fugiat 
                                dolores.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-light">
                            <img src="https://picsum.photos/400/300" alt="Card Image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Waves effect</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus 
                                veritatis ex totam rem illum repellendus, ratione molestiae dolorum fugiat 
                                dolores.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="cascading" data-name="Cascading">
        <div data-syntax="html">
            <div class="row">
                <div class="col s12 m4">
                    <h4>Wide</h4>
                    <div class="card card-cascade wide">
                        <div class="cascade">
                            <img src="https://picsum.photos/400" alt="Card Image" class="card-image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Card Title</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus 
                                veritatis ex totam rem illum repellendus, ratione molestiae dolorum fugiat 
                                dolores.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <h4>Normal</h4>
                    <div class="card card-cascade">
                        <div class="cascade">
                            <img src="https://picsum.photos/400" alt="Card Image" class="card-image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Card Title</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus 
                                veritatis ex totam rem illum repellendus, ratione molestiae dolorum fugiat 
                                dolores.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <h4>Narrower</h4>
                    <br>
                    <div class="card card-cascade narrow">
                        <div class="cascade">
                            <img src="https://picsum.photos/400" alt="Card Image" class="card-image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Card Title</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus 
                                veritatis ex totam rem illum repellendus, ratione molestiae dolorum fugiat 
                                dolores.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="banner" data-name="Banner">
        <div data-syntax="html">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-banner purple-grad white-text">
                            <h4>Mudit Somani</h4>
                            <p>This is a banner card</p>
                        </div>
                        <div class="card-body center-align">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, 
                                possimus?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card card-cascade wide">
                        <div class="card-banner indigo-grad white-text cascade">
                            <h4>Mudit Somani</h4>
                            <p>This is a banner card</p>
                        </div>
                        <div class="card-body center-align">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, 
                                possimus?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="testimonial" data-name="Testimonial">
        <div data-syntax="html">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-banner red-grad"></div>
                        <div class="card-avatar">
                            <img src="https://picsum.photos/100" alt="Avatar">
                        </div>
                        <div class="card-body center-align">
                            <h4>Mudit Somani</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, 
                                possimus?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-banner blue-grad"></div>
                        <div class="card-avatar">
                            <img src="https://picsum.photos/100" alt="Avatar">
                        </div>
                        <div class="card-body center-align">
                            <h4>Harshit Somani</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, 
                                possimus?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="panel" data-name="Panel">
        <div data-syntax="html">
            <div class="card-panel teal white-text">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias modi eaque mollitia 
                    consequuntur sint! Voluptatibus inventore ut beatae impedit ab tempore itaque, esse 
                    dolore, minus commodi, eaque necessitatibus explicabo natus.
                </p>
            </div>
        </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <div class="section scrollspy" id="grid" data-name="Card Grid">
        <div class="card-grid">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus veritatis
                        ex totam rem illum repellendus, ratione molestiae dolorum fugiat dolores.
                    </p>
                    <a href="#!" class="btn blue">Button</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image waves-effect waves-light">
                    <img src="https://picsum.photos/400/300" alt="Card Image">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Waves effect</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus veritatis
                        ex totam rem illum repellendus, ratione molestiae dolorum fugiat dolores.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="https://picsum.photos/400/300" alt="Card Image">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus veritatis
                        ex totam rem illum repellendus.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="https://picsum.photos/400/300" alt="Card Image">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odit, 
                        vero itaque impedit ipsum numquam adipisci nisi modi iure commodi.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus veritatis
                        ex totam rem illum repellendus, ratione molestiae dolorum fugiat dolores.
                    </p>
                    <a href="#!" class="btn blue">Button</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus veritatis
                        ex totam rem illum repellendus, ratione molestiae dolorum fugiat dolores.
                    </p>
                    <a href="#!" class="btn blue">Button</a>
                </div>
            </div>
        </div>
        <code class="prism-html">
            <div class="card-grid">
                <div class="card"> ... </div>
                <div class="card"> ... </div>
                <div class="card"> ... </div>
                <div class="card"> ... </div>
                <div class="card"> ... </div>
            </div>
        </code>
    </div>
{% endblock content %}

{% block script %}
    <script></script>
{% endblock script %}