{% extends "./partials/base.html" %}

{% set title = "Dropdown" %}

{% block content %}
    <div class="section scrollspy" id="introduction" data-name="Introduction">
        <div data-syntax="html">
            <!-- Dropdown -->
            <div class="dropdown" id="dropdown1">
                <a class="dropdown-item waves-effect waves-block" href="#!">Item 1</a>
                <a class="dropdown-item waves-effect" href="#!">Item 2</a>
                <a class="dropdown-item waves-effect" href="#!">Item 3</a>
                <li class="divider"></li>
                <a class="dropdown-item waves-effect" href="#!">Item 4</a>
            </div>

            <!-- Trigger -->
            <a href="#dropdown1" class="btn dropdown-trigger">Dropdown</a>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        var dropdown = new empy.Dropdown("#dropdown1", {});
    </script>
{% endblock script %}