{% extends "./partials/base.html" %}

{% set title = "Get Started" %}

{% block content %}
<p class="lead">
    Learn how to easily start using Empyreal in your project.
</p>
{% endblock content %}

{% block script %}
<script></script>
{% endblock script %}