{% extends "./partials/base.html" %}

{% set title = "Icons" %}

{% block content %}
<div class="section scrollspy" id="usage" data-name="Usage">
    <h2 class="blue-text">Usage</h2>
    Docs Coming Soon
</div>
{% endblock content %}