{% extends "./partials/base.html" %}
{% set title = "ScrollSpy" %}

{% block content %}
    <div id="section1" class="section scrollspy" data-name="Section 1">
        <br/><br/>
        <h3>Section 1</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit libero eligendi odit architecto quasi beatae blanditiis voluptas inventore eius sapiente nostrum est sunt ullam illo facere dolorum, culpa laboriosam nam, perferendis sed doloremque? Pariatur cumque recusandae impedit sunt debitis, natus repellat qui quaerat, modi, deleniti id mollitia animi facere ea voluptatem minus. Assumenda totam id et nostrum cum, alias iure labore atque doloribus vero repudiandae magni voluptate consectetur exercitationem. Corrupti quo molestiae dolorum aspernatur! Eos repellat placeat consequatur incidunt adipisci!
        </p>
        <br/>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque eius optio velit asperiores autem, harum laboriosam quaerat ab provident! Eveniet, ipsa laborum eligendi nemo earum blanditiis nisi debitis suscipit quaerat ab perferendis pariatur fuga reiciendis eos illum expedita cumque, perspiciatis iusto numquam architecto. Ipsum asperiores eaque commodi natus temporibus?
        </p>
    </div>
    <div id="section2" class="section scrollspy" data-name="Section 2">
        <br/><br/>
        <h3>Section 2</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit libero eligendi odit architecto quasi beatae blanditiis voluptas inventore eius sapiente nostrum est sunt ullam illo facere dolorum, culpa laboriosam nam, perferendis sed doloremque? Pariatur cumque recusandae impedit sunt debitis, natus repellat qui quaerat, modi, deleniti id mollitia animi facere ea voluptatem minus. Assumenda totam id et nostrum cum, alias iure labore atque doloribus vero repudiandae magni voluptate consectetur exercitationem. Corrupti quo molestiae dolorum aspernatur! Eos repellat placeat consequatur incidunt adipisci!
        </p>
        <br/>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus eveniet porro ullam voluptate laborum id sint, accusantium, voluptatibus nostrum quia ipsam cupiditate. Excepturi facilis nobis eveniet itaque quo incidunt exercitationem recusandae porro impedit? Dolorem quasi iusto asperiores non quisquam ullam explicabo ut adipisci voluptas recusandae.
        </p>
    </div>
    <div id="section3" class="section scrollspy" data-name="Section 3">
        <br/><br/>
        <h3>Section 3</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit libero eligendi odit architecto quasi beatae blanditiis voluptas inventore eius sapiente nostrum est sunt ullam illo facere dolorum, culpa laboriosam nam, perferendis sed doloremque? Pariatur cumque recusandae impedit sunt debitis, natus repellat qui quaerat, modi, deleniti id mollitia animi facere ea voluptatem minus. Assumenda totam id et nostrum cum, alias iure labore atque doloribus vero repudiandae magni voluptate consectetur exercitationem. Corrupti quo molestiae dolorum aspernatur! Eos repellat placeat consequatur incidunt adipisci!
        </p>
        <br/>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga commodi porro in, ducimus laborum, ea facilis alias ipsum fugiat culpa facere! Ut fuga commodi corrupti? Illum animi ratione distinctio eum. Accusamus maiores culpa veritatis impedit. At repudiandae, magnam atque ab possimus aliquid cupiditate dolore! Officia quos accusamus nisi.
        </p>
    </div>
{% endblock %}