{% extends "./partials/base.html" %}

{% set title = "Sidenav" %}

{% block content %}
    <br>
    <div class="scrollspy section" data-name="Introduction">
        <div data-syntax="html">
            <!-- Trigger -->
            <a href="#sidenav1" class="btn sidenav-trigger blue">Open Sidenav</a>

            <!-- Sidenav -->
            <div class="sidenav" id="sidenav1">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        Item 1
                    </li>
                    <li class="nav-item waves-effect">
                        Item 2 (with waves)
                    </li>
                    <li class="nav-item">
                        Item 3
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var sidenav = new empy.Sidenav("#sidenav1", {})
    </script>
{% endblock %}