{% extends "./partials/base.html" %}

{% set title = "Text Inputs" %}

{% block content %}
<br><br><br>
<div class="row">
    <div class="col s12 m6">
        <div class="text-field">
            <input type="text" id="input1">
            <label for="input1">First Name</label>
        </div>
    </div>
</div>
{% endblock content %}