<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "./metadata.html" %}
        <link rel="stylesheet" href="./dist/css/empyreal.min.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/prism-theme-one-dark@1.0.0/prism-onedark.css" rel="stylesheet">
        <link rel="stylesheet" href="./dist/css/main.css">
        <title>
            {{ title }} | Empyreal Framework
        </title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include "./navbar.html" %}

        <div class="row">
            <div class="col s12 m10">
                <br><br><br>
                <h1 class="blue-text display-h1">{{ title }}</h1>
                <div class="divider"></div>
                <br>
                {% block content %}{% endblock %}
            </div>
            <div class="col hide-on-small-and-down m2">
                <br><br><br><br>
                <ul class="flex-column table-of-contents navigator">
    
                </ul>
            </div>
        </div>

        {% include "./footer.html" %}

        <script src="./dist/js/empyreal.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/prism.min.js" data-manual="data-manual"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
        <script src="./dist/js/main.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>